@font-face {font-family:"HogwartsWizard";src:url("HogwartsWizard.eot?") format("eot"),url("HogwartsWizard.woff") format("woff"),url("HogwartsWizard.ttf") format("truetype"),url("HogwartsWizard.svg#HogwartsWizard") format("svg");font-weight:normal;font-style:normal;}

*{
  font-family: "HogwartsWizard";
  font-weight: bold;
  font-size: 18px;
}
body {
   background-image: url("https://i1.wp.com/www.androidcentral.com/sites/androidcentral.com/files/styles/w550h500/public/wallpapers/blank-parchment-aps.jpg?itok=flcYf3mT");
    background-size: cover;
}

h1 {
    font-family: "HogwartsWizard";
  font-weight: bold;
  font-size: 45px;
 


}

.row2{

    float: right;
    
}