@font-face {font-family:"HogwartsWizard";src:url("../fonts/HogwartsWizard.eot?") format("eot"),url("../fonts/HogwartsWizard.woff") format("woff"),url("../fonts/HogwartsWizard.ttf") format("truetype"),url("HogwartsWizard.svg#HogwartsWizard") format("svg");font-weight:normal;font-style:normal;}

*{
  font-family: "HogwartsWizard";
  font-weight: bold;
  font-size: 18px;
}
@font-face {
    font-family: 'HarryP';
    src: url('../fonts/HarryP.woff') format('woff2'),
        url('../fonts/HarryP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: "HogwartsWizard";
    font-weight: bold;
    font-size: 45px;
}
.header{
    max-height: 50px;  
    margin: 0 auto;
    width: 350px;
    margin-bottom: 25px;
}
#headerImage{
    max-height: 50px;
    float: left;
}
#headerText{
    font-family: "HarryP";
    font-weight: bold;
    font-size: 45px;
}
.row2{
    float: right;
}